@charset = "UTF-8";

#mainImage {
		width : 50px;
		height : 50px;
	}
	#left {
		width : 25%;
		height : 700px;
		float : left;
		text-align: center;
		overflow: auto;
	}
	#right {
		width : 25%;
		height : 700px;
		float : right;
		overflow: auto;
	}
	#main {
		width : 46%;
		height : 700px;
		float : left;
		overflow: auto;
	} 
	#article1 {		
		overflow: auto;
	}
	iframe#iframe {
		width : 100%;
		height : 700px;
		float : left;		
		overflow: auto;
	}
	
	#footer {
		height : 80px;
		background : #722f37;
		clear : both;
	}
	.ul, .li {
		float : left;
		list-style:none;
		margin : 5px;
		text-align: center;
	}
	.ul {
		width : 100%;
		padding-left: 30%;
		border : 1px solid red;
		border-left: none;
		border-right: none;
	}
	#WebShop {
		padding : 30px;
		text-align: center;
	}
	#a_a1 {
		overflow: auto;
		text-decoration: none;
		font-size : 2em;
		color : white;
	}
	#a_a2 {
		overflow: auto;
		font-size : 1.5em;
	}
	#rigth {
		overflow: auto;
	}
	#shopcart {
		text-decoration: underline;
	}
	.div_a {
		overflow: auto;
		border : 1px solid white;
		height : 50px;
		background : gray;
		text-align: center;
	}
	.div_etc {
		overflow: auto;
	}
	.padding_lefts {
		padding-left: 30px;
	}
	.input {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.img_product {
		width : 200px;
		height : 200px;
		overflow: auto;
	}
	.div_product {
		border : 1px solid gray;
		height : auto;
		text-align: center;
		overflow: auto;
		float : left;
		margin : 20px;
	}
	#shopcheck {
		text-decoration: underline;
	}
	.div_div {
		width : 200px;
		height : 100px;
		text-align: center;
		overflow: auto;
	}
	.input_button_add {
		margin : 10px;
	}
	.video_main_movie {
		width: auto;
		max-width: 1000px;
		height : auto;
		max-height : 200px;
		margin : 20px;
	}
	.audio_music {
		width : 200px;
	}