@charset = "UTF-8";

#mainImage {
		width : 50px;
		height : 50px;
	}
	#nav {
		width : 25%;
		height : 700px;
		float : left;
		background : gray;
	}
	#content {
		width : 25%;
		height : 700px;
		float : right;
		background : lightblue;	
	}
	#content1 {
		width : 50%;
		height : 700px;
		float : left;
		overflow: auto;
	} 
	#main, #article1 {		
		overflow: auto;
	}
	iframe#iframe {
		width : 100%;
		height : 700px;
		float : left;		
		overflow: auto;
	}
	
	#footer {
		height : 80px;
		background : #722f37;
		clear : both;
	}
	.ul, .li {
		float : left;
		list-style:none;
		padding : 5px;
		text-align: center;
	}
	.ul {
		width : 100%;
		padding-left: 30%;
		border : 1px solid red;
		border-left: none;
		border-right: none;
	}
	#WebShop {
		padding : 30px;
		text-align: center;
	}
	#a_a1 {
		overflow: auto;
		text-decoration: none;
		font-size : 2em;
		color : white;
	}
	#a_a2 {
		overflow: auto;
		font-size : 1.5em;
	}
	#left {
		text-align: center;
	}
	#rigth {
		overflow: auto;
	}
	#shopcart {
		text-decoration: underline;
	}
	.div_a {
		overflow: auto;
		border : 1px solid white;
		height : 50px;
		text-align: center;
	}
	.div_etc {
		overflow: auto;
	}
	.padding_lefts {
		padding-left: 30px;
	}